@model Employee.Models.Clients

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<form method="post"  >
    <div class="border-5 p-3 mt-4">

        <div class="row pb-2 ">
            <h2 class="text-primary text-center">Edit Client</h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Email" class="p-0"></label>
            <input asp-for="Email" class="form-control" />
           
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Role" class="p-0"></label>
            <select asp-for="Role" class="form-control">
                <option value="" disabled selected hidden>Select a role</option>
                <option value="Admin">Admin</option>
                <option value="Manager">Manager</option>
                <option value="Employee">Employee</option>
            </select>
          
        </div>

        @if (Model.Addresses.Count != 0)
        {
            <div class="row mt-5 ">
              <h2 class="text-primary">
                Addresses
              </h2>
            </div>
        }

        <div class="container ">

            <table class="table-bordered">

                <tbody id="addressTableBody">

                    @for (int i = 0; i < Model.Addresses.Count; i++)
                    {
                        @* <tr>
                            <input type="hidden" asp-for="Addresses[i].Id" />
                            <td><input type="text" asp-for="Addresses[i].Street" class="form-control" placeholder="Street" /></td>
                            <td><input type="text" asp-for="Addresses[i].City" class="form-control" placeholder="City" /></td>
                            <td><input type="text" asp-for="Addresses[i].State" class="form-control" placeholder="State" /></td>
                            <td><input type="text" asp-for="Addresses[i].PinCode" class="form-control" placeholder="Pin Code" /></td>
                            <td><input type="text" asp-for="Addresses[i].Country" class="form-control" placeholder="Country" /></td>
                            <td><button type="button" class="btn btn-danger removeRow">X</button></td>

                        </tr> *@
                        <tr>
                            <input type="hidden" asp-for="Addresses[i].Id" />
                            <input type="hidden" name="Addresses[@i].IsDeleted" value="false" class="delete-flag" />
                            <td><input type="text" asp-for="Addresses[i].Street" class="form-control" placeholder="Street" /></td>
                            <td><input type="text" asp-for="Addresses[i].City" class="form-control" placeholder="City" /></td>
                            <td><input type="text" asp-for="Addresses[i].State" class="form-control" placeholder="State" /></td>
                            <td><input type="text" asp-for="Addresses[i].PinCode" class="form-control" placeholder="Pin Code" /></td>
                            <td><input type="text" asp-for="Addresses[i].Country" class="form-control" placeholder="Country" /></td>
                            <td><button type="button" class="btn btn-danger removeRow">X</button></td>
                        </tr>
                    }
                   


                </tbody>

            </table>

            <div class="row mt-2">
                 <div class="col-6 col-md-3">
                     <button type="button" class="btn btn-outline-primary form-control" id="addAddressBtn">Add Address</button>
                 </div>
            </div>

        </div>
      
        <div class="row mt-5">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Client" asp-action="Index" class="btn btn-outline-secondary border-5 form-control">Back</a>
            </div>
        </div>


    </div>
</form>


<script>
    let rowIndex = $('#addressTableBody tr').length;

    // Add new address row
    $('#addAddressBtn').click(function () {
        const newRow = `
        <tr>
            <input type="hidden" name="Addresses[${rowIndex}].Id" value="0" />
            <input type="hidden" name="Addresses[${rowIndex}].IsDeleted" value="false" />
            <td><input type="text" name="Addresses[${rowIndex}].Street" class="form-control" placeholder="Street" /></td>
            <td><input type="text" name="Addresses[${rowIndex}].City" class="form-control" placeholder="City" /></td>
            <td><input type="text" name="Addresses[${rowIndex}].State" class="form-control" placeholder="State" /></td>
            <td><input type="text" name="Addresses[${rowIndex}].PinCode" class="form-control" placeholder="Pin Code" /></td>
            <td><input type="text" name="Addresses[${rowIndex}].Country" class="form-control" placeholder="Country" /></td>
            <td><button type="button" class="btn btn-danger removeRow">X</button></td>
        </tr>`;

        $('#addressTableBody').append(newRow);
        rowIndex++;
    });

    // Handle row removal
    $(document).on('click', '.removeRow', function () {
        const row = $(this).closest('tr');
        const hasId = row.find('input[name*="Id"]').length > 0 && row.find('input[name*="Id"]').val() !== "0";

        if (hasId) {
            // Existing address – mark as deleted and hide
            row.find('input[name*="IsDeleted"]').val('true');
            row.hide();
        } else {
            // New address – remove from DOM
            row.remove();
            reindexRows();
        }
    });

    // Reindex all row input names after removal
    function reindexRows() {
        $('#addressTableBody tr:visible').each(function (i, row) {
            $(row).find('input').each(function () {
                const name = $(this).attr('name');
                if (name) {
                    const newName = name.replace(/Addresses\[\d+\]/, `Addresses[${i}]`);
                    $(this).attr('name', newName);
                }
            });
        });

        // Update rowIndex to reflect the number of rows including hidden ones
        rowIndex = $('#addressTableBody tr').length;
    }
</script>










